*{
 box-sizing: border-box;
}
body{
	margin-left:auto;
	margin-right: auto;
	width: 80%;
	text-align: center;
	direction: rtl;
	background-color: #99A3A4;
	border:2px solid;
}
p{
	font-size: xx-large;
	margin-top: 300px;
	font-weight: bold;
}
h1{
	text-align: center;
	font-size: xx-large;
	font-style: italic;
	font-weight: bold;
}
button{
	font-size: large;
	font-style: italic;
}
